<p>local works!</p>

<!--Cookies-->
<div class="container">
    <button (click)="setCookies()" type="button" class="btn btn-primary">Set Cookies</button>
    <button (click)="getCookies()" type="button" class="btn btn-info">Get Cookies</button>
    <button (click)="delCookies()" type="button" class="btn btn-danger">Delete Cookies</button>
</div>
    
<!--LocalStorage-->
<div class="container">
    <button (click)="setLocalStorage()" type="button" class="btn btn-primary">Set Local-Storage</button>
    <button (click)="getLocalStorage()" type="button" class="btn btn-info">Get Local-Storage</button>
    <button (click)="delLocalStorage()" type="button" class="btn btn-danger">Delete Local-Storage</button>
</div>

<!--SessionStorage-->
<div class="container">
    <button (click)="setSessionStorage()" type="button" class="btn btn-primary">Set Session-Storage</button>
    <button (click)="getSessionStorage()" type="button" class="btn btn-info">Get Session-Storage</button>
    <button (click)="delSessionStorage()" type="button" class="btn btn-danger">Delete Session-Storage</button>
</div>
